<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.adaussy.permadeler.branding.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.adaussy.permadeler.branding.application"
            name="Permadeler">
         <property
               name="appName"
               value="Permadeler">
         </property>
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
          <property
                name="aboutImage"
                value="icons/about.gif">
          </property>
          <property
                name="aboutText"
                value="Permadeler&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;Copyright (c)2024 Arthur Daussy. All Rights Reserved.&#x0A;Viewpoint Specification : Copyright (c) 2024 Arthur Daussy.&#x0A;&#x0A;Visit https://github.com/adaussy/permadeler">
          </property>
          <property
                name="windowImages"
                value="icons/logo_16.png,icons/logo_32.png,icons/logo_48.png,icons/logo_64.png,icons/logo_128.png">
          </property>
          <property
                name="startupForegroundColor"
                value="000000">
          </property>
          <property
                name="startupMessageRect"
                value="7,308,458,18">
          </property>
          <property
                name="startupProgressRect"
                value="0,328,458,18">
          </property>
          <property
                name="applicationCSS"
                value="platform:/plugin/fr.adaussy.permadeler.branding/default.css">
          </property>
      </product>
   </extension>
</plugin>
