<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.adaussy.permadeler.model.design.PermadelerModelBundle"
               id="fr.adaussy.permadeler.model.design"
	       name="permadeler">
    </component>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
     <editpartProvider
           class="fr.adaussy.permadeler.model.design.editparts.FoodForestMapDiagramEditpartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
  </extension>
  <extension
        point="org.eclipse.sirius.sessionManagerListener">
     <listener
           class="fr.adaussy.permadeler.model.design.session.DesignSessionManagerListener">
     </listener>
  </extension>
  <extension
        id="custom.Zone.svg"
        name="Zone"
        point="org.eclipse.sirius.diagram.customBundledImageShape">
     <image
           imagePath="/fr.adaussy.permadeler.model.design/img/zone2.svg"
           label="custom.Zone.svg">
        <colorIdentifier
              colorIdentifier="XMLID_45_">
        </colorIdentifier>
         <colorAttribute
              colorAttribute="style">
           <subAttributeIdentifier
                 subAttributeIdentifier="fill">
           </subAttributeIdentifier>
        </colorAttribute>
     </image>
  </extension>
</plugin>
