<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="Build target plateform" sequenceNumber="1669093286">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.emf" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.osgi.services" version="0.0.0"/>
      <unit id="org.eclipse.collections.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/2022-03"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.justj.openjdk.hotspot.jre.full" version="0.0.0"/>
      <repository location="https://download.eclipse.org/justj/jres/17/updates/release/17.0.2"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.sirius.model.feature.feature.group" version="7.0.5.202209231848"/>
      <unit id="org.eclipse.sirius.specifier.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.properties.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.diagram.elk.feature.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/sirius/updates/releases/7.0.5/2021-06/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.jsoup" version="0.0.0"/>
      <unit id="org.apache.commons.lang" version="0.0.0"/>
      <unit id="org.easymock" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.junit" version="4.13.2.v20211018-1956"/>
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
      <unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
      <unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
      <unit id="org.apache.xalan" version="2.7.2.v20201124-1837"/>
      <unit id="org.antlr.runtime" version="4.7.1.v20181120-0808"/>
      <unit id="org.apache.batik.ext" version="1.14.0.v20210324-0332"/>
      <unit id="org.apache.batik.codec" version="1.14.0.v20210324-0332"/>
      <unit id="org.apache.batik.bridge" version="1.14.0.v20210324-0332"/>
      <unit id="org.apache.batik.script" version="1.14.0.v20210324-0332"/>
      <repository id="Orbit-202203" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.gallery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.nebula.widgets.ganttchart.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/nebula/snapshot"/>
    </location>
	  <location includeDependencyDepth="direct" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>commons-validator</groupId>
				  <artifactId>commons-validator</artifactId>
				  <version>1.7</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>