<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="fr.adaussy.permadeler.rcp.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <dynamic
               class="fr.adaussy.permadeler.rcp.internal.menu.PermadellerMenu"
               id="fr.adaussy.permadeler.rcp.pemadeller">
         </dynamic>
      </menuContribution>
   </extension>
     <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="false"?>
      <parser
         type="permarep"
         class="org.eclipse.sirius.business.internal.resource.AirDResourceFactory">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.internal.E4PartWrapper"
            class="fr.adaussy.permadeler.rcp.E4PropertySheetPageAdapter">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySheetPage">
         </adapter>
      </factory>
   </extension>

</plugin>
